/* page.module.css */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease; /* Smooth background transition */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.value {
  font-size: 1.5rem;
  color: #555;
}

.state {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: #777;
}
